@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #3b5d50;
  --secondary: #f9bf29;
  --dark: #2f2f2f;
  --light: #dce5e4;
  --lighter: #eff2f1;
  --body_color: #6a6a6a;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  font-size: 14px;
  background-color: #eff2f1;
  scroll-behavior: smooth;
}

header {
  background: var(--primary);
}

nav {
  padding: 2rem 5rem 0 5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: var(--white);
  font-size: 32px;
  font-weight: 600;
}

.logo span {
  opacity: 0.5;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-list {
  display: flex;
  gap: 45px;
  list-style: none;
}

.navBtn {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  opacity: 0.5;
}

.navBtn:hover {
  opacity: 1;
  border-bottom: 5px solid var(--secondary);
  transition: 0.5s;
}

.nav-items img {
  padding-left: 2rem;
}

.nav-items {
  display: flex;
  align-items: center;
}

.cart-bg {
  position: relative;
}

.cart-item-quantity {
  position: absolute;
  right: 0;
  top: -1.2rem;
  color: var(--secondary);
}

.container {
  width: 100%;
  padding: 8rem 5rem;
  color: var(--white);
}

.intro-section h1 {
  font-size: 40px;
}

.checkout {
  padding: 8rem 5rem 12rem 5rem;
}

.checkout-header p {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  color: var(--dark);
  padding: 1.5rem;
}

.checkout-header a {
  color: var(--black);
}

.checkout-body {
  width: 100%;
  display: flex;
  padding: 4rem 0;
  justify-content: space-between;
}

.billing-details-container,
.coupon-order-container {
  width: 49%;
}

.billing-details-container h1,
.coupon-order-container h1 {
  font-size: 28px;
  color: var(--dark);
  font-weight: 500;
}

.billing-details {
  width: 100%;
  background: var(--white);
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.billing-details-form {
  width: 85%;
  color: var(--dark);
}

.select-tag-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-star {
  color: red;
}

select {
  width: 100%;
  padding: 1rem;
  outline: 0;
  border-radius: 10px;
  appearance: none;
}

.names {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input-name-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.names div {
  width: 47%;
}

.names input,
.company-name,
.address,
.apartment,
.other-infos input,
.account-password {
  width: 100%;
  padding: 1rem;
  outline: 0;
  border-radius: 10px;
  border: 1px solid var(--body_color);
}

.apartment {
  margin-top: 1rem;
}

.other-infos {
  display: grid;
  grid-template-columns: repeat(2, 47%);
  justify-content: space-between;
  padding-bottom: 3rem;
}

#checkbox1,
#checkbox2 {
  margin-right: 0.3rem;
}

.create-account,
.shipping-address {
  display: none;
  animation: slideUp 1s ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0);
  }
}

.create-account p {
  padding: 1rem 0;
}

.account-password {
  margin-bottom: 3rem;
}

textarea {
  width: 100%;
  padding: 0.5rem 1rem 6rem 1rem;
  outline: 0;
  border-radius: 10px;
}

.coupon-code,
.your-order {
  width: 100%;
  background: var(--white);
  margin-top: 1.5rem;
  padding: 2.5rem;
}

.coupon-code-body {
  padding-top: 1rem;
  display: flex;
}

.coupon-code input {
  width: 45%;
  padding: 1rem;
  outline: 0;
  border-radius: 10px;
  border: 1px solid var(--body_color);
}

.coupon-code-body button {
  background: var(--dark);
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 700;
  color: var(--white);
  margin-left: 0.5rem;
}

.order-container {
  padding-top: 3rem;
}

.your-order-header-bg {
  width: 100%;
  border-bottom: 2px solid var(--black);
}

.your-order-header {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 0 1rem 0.5rem 1rem;
}

.checkout-items-bg {
  width: 100%;
  border-bottom: 1px solid var(--dark);
}

.checkout-items {
  display: flex;
  width: 82%;
  justify-content: space-between;
  padding: 0.7rem 1rem;
}

.checkout-items i {
  padding: 0 0.5rem;
}

.payment-method {
  padding-top: 3rem;
}

.payment-method p {
  border: 1px solid var(--dark);
  padding: 1rem;
  font-size: 15px;
  font-weight: 500;
  margin: 1rem 0;
}

.payment-method a {
  color: var(--dark);
}

.payment-method-button {
  background: var(--dark);
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 700;
  color: var(--white);
  font-size: 16px;
  margin-top: 2rem;
  cursor: pointer;
}

.payment-method-button:hover {
  background: var(--black);
}

footer {
  background: var(--white);
  width: 100%;
  padding: 3rem 5rem 0 5rem;
}

.subscribe-container {
  display: flex;
  justify-content: space-between;
}

.subscribe-container-info {
  width: 65%;
}

.subscribe-container-header {
  display: flex;
  gap: 10px;
  padding-top: 3rem;
}

.subscribe-container-header h1 {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary);
}

.form {
  margin-top: 1rem;
  width: 100%;
}

.form-info {
  display: grid;
  grid-template-columns: 70% 10%;
  width: 100%;
  gap: 30px;
}

.nameAndEmail {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 15px;
}

.name,
.email {
  outline: none;
  padding: 1rem;
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
}

.name:focus,
.email:focus,
.submit:focus {
  outline: 1px solid var(--primary);
}

.submit-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.submit {
  background: var(--primary);
  padding: 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
  width: 100%;
}

.submit-div i {
  position: absolute;
  top: 1rem;
  color: var(--white);
}

.sofa-bg {
  width: 35%;
}

.sofa {
  height: 370px;
  width: 100%;
  transform: translateY(-160px);
}

.footer-section {
  transform: translateY(-100px);
}

.footer-info {
  display: grid;
  grid-template-columns: 30% 65%;
  align-items: center;
  justify-content: space-between;
}

.footer-logo a {
  text-decoration: none;
  color: var(--primary);
  font-size: 32px;
  font-weight: 600;
}

.footer-info-header p {
  padding: 1.5rem 0;
  color: var(--body_color);
}

.socials {
  display: flex;
  gap: 10px;
}

.socials-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d1dcd7;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.socials-bg i {
  color: var(--primary);
}

.footer-lists a {
  list-style: none;
  text-decoration: none;
  color: var(--dark);
}

.footer-lists li {
  padding: 0.5rem 0;
}

.footer-lists-bg {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer-lists {
  display: flex;
  gap: 80px;
}

/* RESPONSIVE CSS */
@media (max-width: 767px) {
  header {
    background: var(--primary);
  }

  nav {
    flex-direction: column;
    padding: 1.5rem 0;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
  }

  .hamburger {
    display: block;
    height: 15px;
    width: 25px;
  }

  .nav-menu {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding-left: 1rem;
    padding-bottom: 5rem;
    gap: 40px;
    background: var(--primary);
    position: absolute;
    top: 4rem;
    left: 0;
    border-bottom: 1px solid var(--white);
    z-index: 2;
  }

  .nav-list {
    flex-direction: column;
  }

  #shopBtn,
  .navBtn:hover {
    border-bottom: none;
  }

  .nav-items img {
    padding-left: 0;
    padding-right: 1rem;
  }

  .container {
    padding: 2rem 1rem;
  }

  .intro-section h1 {
    font-size: 25px;
  }

  .checkout {
    padding: 8rem 1rem 0 1rem;
  }

  .checkout-body {
    flex-direction: column;
    padding: 4rem 0;
    gap: 50px;
  }

  .billing-details-container,
  .coupon-order-container {
    width: 100%;
  }

  .names {
    flex-direction: column;
  }

  .names div {
    width: 100%;
  }

  .other-infos {
    grid-template-columns: repeat(1, 100%);
  }

  .coupon-code,
  .your-order {
    padding: 1rem;
  }

  .order-container {
    padding-top: 3rem;
  }

  .your-order-header-bg {
    width: 100%;
    border-bottom: 2px solid var(--black);
  }

  .your-order-header {
    width: 90%;
  }

  .checkout-items {
    width: 92%;
  }

  footer {
    background: var(--white);
    width: 100%;
    padding: 0 1rem 3rem 1rem;
  }

  .subscribe-container {
    flex-direction: column-reverse;
  }

  .subscribe-container-info {
    width: 100%;
  }

  .form {
    margin-top: 1rem;
    width: 100%;
  }

  .form-info {
    grid-template-columns: 70% 20%;
    gap: 15px;
  }

  .nameAndEmail {
    grid-template-columns: repeat(1, 100%);
    gap: 10px;
  }

  .submit-div {
    align-self: end;
  }

  .sofa-bg {
    width: 100%;
  }

  .sofa {
    height: 370px;
    width: 100%;
    transform: translateY(15%);
  }

  .footer-section {
    transform: translateY(0);
    padding-top: 2rem;
  }

  .footer-info {
    grid-template-columns: repeat(1, 100%);
  }

  .socials {
    padding-bottom: 4rem;
  }

  .footer-lists-bg {
    flex-direction: column;
    width: 100%;
  }

  .footer-lists {
    gap: 80px;
    padding-bottom: 1rem;
  }

  .footer-lists li {
    padding: 0.5rem 0;
  }
}

@media (min-width: 768px) and (max-width: 884px) {
  nav {
    padding: 2rem 2rem 0 2rem;
  }

  .nav-list {
    gap: 20px;
  }

  .container {
    padding: 5rem 2rem;
  }

  .checkout {
    padding: 8rem 2rem 12rem 2rem;
  }

  footer {
    background: var(--white);
    width: 100%;
    padding: 3rem 2rem 0 2rem;
  }

  .subscribe-container {
    flex-direction: column-reverse;
  }

  .subscribe-container-info {
    width: 100%;
    transform: translateY(-30%);
  }

  .subscribe-container-header {
    display: flex;
    gap: 10px;
    padding-top: 0;
  }

  .form {
    margin-top: 1rem;
    width: 100%;
    padding-bottom: 8rem;
  }

  .sofa-bg {
    width: 60%;
  }

  .sofa {
    width: 100%;
    transform: translate(70%, -140px);
  }

  .footer-section {
    transform: translateY(-120px);
  }

  .footer-info {
    grid-template-columns: repeat(1, 100%);
  }

  .footer-lists-bg {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
  }

  .footer-lists {
    width: 45%;
    display: flex;
    justify-content: space-between;
  }
}
