@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #3b5d50;
  --secondary: #f9bf29;
  --dark: #2f2f2f;
  --light: #dce5e4;
  --lighter: #eff2f1;
  --body_color: #6a6a6a;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  font-size: 14px;
  background-color: #eff2f1;
  scroll-behavior: smooth;
}

header {
  background: var(--primary);
}

nav {
  padding: 2rem 5rem 0 5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: var(--white);
  font-size: 32px;
  font-weight: 600;
}

.logo span {
  opacity: 0.5;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-list {
  display: flex;
  gap: 45px;
  list-style: none;
}

.navBtn {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  opacity: 0.5;
}

.navBtn:hover {
  opacity: 1;
  border-bottom: 5px solid var(--secondary);
  transition: 0.5s;
}

#homeBtn {
  opacity: 1;
  border-bottom: 5px solid var(--secondary);
}

.nav-items {
  display: flex;
  align-items: center;
}

.cart-bg {
  position: relative;
}

.cart-item-quantity {
  position: absolute;
  right: 0;
  top: -1.2rem;
  color: var(--secondary);
}

.nav-items img {
  padding-left: 2rem;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 0;
}

.intro-section {
  width: 40%;
  color: var(--white);
  padding-left: 5rem;
}

.intro-section h1 {
  font-size: 40px;
  width: 90%;
  line-height: 45px;
}

.intro-section p {
  padding: 2rem 0;
  opacity: 0.5;
}

.intro-section button {
  padding: 1rem 2rem;
  border-radius: 50px;
  margin-right: 0.2rem;
  font-weight: 700;
}

.container-buttons {
  display: flex;
}

.shopBtn {
  background: var(--secondary);
  color: var(--dark);
  border: none;
  cursor: pointer;
}

.exploreBtn {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: var(--white);
  cursor: pointer;
}

.exploreBtn:hover {
  border: solid var(--white);
}

.intro-img {
  position: relative;
  background: url(../images/dots-light.svg) no-repeat center center/cover;
  height: 250px;
  width: 250px;
}

.couch {
  background: url(../images/couch.png) no-repeat center center/cover;
  position: absolute;
  right: 0;
  top: -4.2rem;
  height: 520px;
  width: 720px;
}

.second-container {
  padding: 8rem 5rem 5rem 5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.second-section {
  width: 25%;
}

.second-section h1 {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  width: 90%;
  padding-bottom: 1.5rem;
}

.second-section p,
.third-section-header p,
.third-mini-section p {
  color: var(--body_color);
}

.second-section button,
.fourth-mini-section button {
  padding: 1rem 2rem;
  border-radius: 50px;
  margin-right: 0.2rem;
  font-weight: 700;
  border: none;
  background: var(--dark);
  color: var(--white);
  margin-top: 1.5rem;
}

.chair-collection {
  display: grid;
  grid-template-columns: repeat(3, 280px);
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.product:hover::before {
  content: "";
  display: block;
  background: rgba(209, 220, 215, 0.6);
  height: 240px;
  width: 230px;
  border-radius: 10px;
  position: absolute;
  bottom: -60px;
  animation: chairHover ease-in-out 0.4s;
}

.chairs {
  height: 250px;
  width: 250px;
  margin-bottom: 1.5rem;
  transform: translateY(-20px);
}

.product h3 {
  font-weight: 500;
}

.product p {
  font-size: 18px;
  font-weight: 700;
}

@keyframes chairHover {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.third-container {
  padding: 10rem 5rem;
  width: 100%;
  display: flex;
}

.third-section {
  width: 50%;
}

.third-section h1 {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 1rem;
}

.third-mini-section {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  row-gap: 30px;
}

.services-icons {
  background: #d1dcd7;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  position: relative;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.services-icons img {
  position: absolute;
  top: -10px;
  left: -20px;
  color: var(--black);
}

.third-mini-section h3 {
  font-weight: 500;
  padding-bottom: 0.5rem;
  font-size: 14px;
}

.third-section-image {
  width: 50%;
  position: relative;
}

.third-section-image-bg {
  background: url(/personal-project/furni-1.0.0/images/dots-yellow.svg)
    no-repeat center center/cover;
  height: 250px;
  width: 250px;

  transform: translateY(-70px);
}

.third-section-image img {
  height: 520px;
  width: 80%;
  position: absolute;
  left: 100px;
  top: 30px;
  border-radius: 20px;
}

.fourth-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5rem 5rem 5rem 0;
}

.fourth-section-bg {
  position: relative;
  width: 65%;
}

.fourth-section {
  background: url(/personal-project/furni-1.0.0/images/dots-green.svg) no-repeat
    center center/cover;
  height: 250px;
  width: 30%;
  transform: translateY(-70px);
}

.fourth-section-image {
  display: flex;
  position: absolute;
  left: 80px;
  top: 20px;
  width: 100%;
  gap: 20px;
}

.img-grid-1 {
  height: 500px;
  border-radius: 20px;
}

.double-grid {
  display: flex;
  flex-direction: column;
  align-items: end;
  transform: translateX(-40%);
}

.img-grid-2 {
  height: 200px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.img-grid-3 {
  height: 400px;
  border-radius: 20px;
  margin-top: 10px;
}

.fourth-section-text {
  width: 35%;
}

.fourth-section-text-header h1 {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}

.fourth-section-text-header p {
  padding: 1.5rem 0;
}

.fourth-mini-section-list {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  gap: 20px;
  list-style-type: circle;
}

.fifth-container {
  width: 100%;
  padding: 13rem 5rem;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.mini-chairs {
  display: flex;
  gap: 20px;
}

.mini-chairs-bg {
  background: #d1dcd7;
  height: 100px;
  width: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.mini-chairs-bg img {
  height: 120px;
  width: 120px;
  position: absolute;
  top: -10px;
}

.mini-chairs-text {
  width: 65%;
}

.mini-chairs-text p {
  padding: 0.2rem 0;
  line-height: 20px;
  color: var(--body_color);
}

.mini-chairs-text a {
  color: var(--black);
  text-decoration: none;
}

.sixth-container h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.swiper {
  width: 90%;
  padding: 3rem 0;
  margin-bottom: 2rem;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    padding: 3rem 15rem;
    color: var(--body_color);
  }

  --swiper-navigation-size: "60px";
  --swiper-pagination-color: var(--primary);
  --swiper-scrollbar-bg-color: var(--lighter);
  --swiper-scrollbar-drag-bg-color: var(--lighter);
}

.swiper {
  .swiper-button-prev {
    color: #3b5d50;
    background: #d1dcd7;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.swiper {
  .swiper-button-next {
    color: #3b5d50;
    background: #d1dcd7;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.user-info img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  margin-top: 4rem;
}

.user-info h1 {
  font-size: 16px;
  font-weight: 700;
}

.user-info p {
  color: var(--body_color);
  width: 100%;
  padding-bottom: 2rem;
}

.seventh-container {
  padding: 5rem;
}

.seventh-container-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.seventh-container-text h1 {
  font-size: 30px;
  font-weight: 500;
}

.seventh-container-text a {
  color: var(--black);
  font-weight: 700;
}

.seventh-container-body {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
  padding-bottom: 5rem;
}

.posts {
  height: 220px;
  width: 100%;
  border-radius: 20px;
  margin: 3rem 0 1rem 0;
}

.seventh-container-image h1 {
  font-size: 16px;
  font-weight: 600;
}

.seventh-container-image span {
  font-weight: 400;
  font-size: 14px;
  color: var(--body_color);
}

.seventh-container-image p {
  font-size: 14px;
  font-weight: 600;
}

footer {
  background: var(--white);
  width: 100%;
  padding: 3rem 5rem 0 5rem;
}

.subscribe-container {
  display: flex;
  justify-content: space-between;
}

.subscribe-container-info {
  width: 65%;
}

.subscribe-container-header {
  display: flex;
  gap: 10px;
  padding-top: 3rem;
}

.subscribe-container-header h1 {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary);
}

.form {
  margin-top: 1rem;
  width: 100%;
}

.form-info {
  display: grid;
  grid-template-columns: 70% 10%;
  width: 100%;
  gap: 30px;
}

.nameAndEmail {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 15px;
}

.name,
.email {
  outline: none;
  padding: 1rem;
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
}

.name:focus,
.email:focus,
.submit:focus {
  outline: 1px solid var(--primary);
}

.submit-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.submit {
  background: var(--primary);
  padding: 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
  width: 100%;
}

.submit-div i {
  position: absolute;
  top: 1rem;
  color: var(--white);
}

.sofa-bg {
  width: 35%;
}

.sofa {
  height: 370px;
  width: 100%;
  transform: translateY(-160px);
}

.footer-section {
  transform: translateY(-100px);
}

.footer-info {
  display: grid;
  grid-template-columns: 30% 65%;
  align-items: center;
  justify-content: space-between;
}

.footer-logo a {
  text-decoration: none;
  color: var(--primary);
  font-size: 32px;
  font-weight: 600;
}

.footer-info-header p {
  padding: 1.5rem 0;
  color: var(--body_color);
}

.socials {
  display: flex;
  gap: 10px;
}

.socials-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d1dcd7;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  cursor: pointer;
}

.socials-bg i {
  color: var(--primary);
}

.footer-lists a {
  list-style: none;
  text-decoration: none;
  color: var(--dark);
}

.footer-lists li {
  padding: 0.5rem 0;
}

.footer-lists-bg {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer-lists {
  display: flex;
  gap: 80px;
}

/* RESPONSIVE CSS */
@media (max-width: 767px) {
  body {
    background: var(--white);
  }

  header {
    background: var(--primary);
  }

  nav {
    flex-direction: column;
    padding: 1.5rem 0;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
  }

  .hamburger {
    display: block;
    height: 15px;
    width: 25px;
  }

  .nav-menu {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding-left: 1rem;
    padding-bottom: 5rem;
    gap: 40px;
    background: var(--primary);
    position: absolute;
    top: 4rem;
    left: 0;
    border-bottom: 1px solid var(--white);
    z-index: 2;
  }

  .nav-list {
    flex-direction: column;
  }

  #homeBtn,
  .navBtn:hover {
    border-bottom: none;
  }

  .nav-items img {
    padding-left: 0;
    padding-right: 1rem;
  }

  .container {
    flex-direction: column;
    width: 100%;
    align-items: end;
    padding: 0;
  }

  .container {
    padding: 2rem 0 8rem 0;
  }

  .intro-section {
    width: 100%;
    padding-left: 1rem;
    padding-bottom: 2rem;
  }

  .intro-section h1 {
    font-size: 25px;
    width: 90%;
  }

  .intro-section p {
    width: 94%;
    opacity: 0.5;
  }

  .intro-img {
    height: 220px;
    width: 180px;
  }

  .couch {
    height: 400px;
    width: 600px;
    background-position: 250px 60px;
  }

  .second-container {
    padding: 5rem 1rem;
    flex-direction: column;
  }

  .second-section {
    width: 100%;
  }

  .second-section h1 {
    font-size: 25px;
  }

  .chair-collection {
    grid-template-columns: repeat(1, 100%);
    padding-top: 3rem;
  }

  .product {
    padding-bottom: 5rem;
  }

  .product:hover::before {
    display: none;
  }

  .chairs {
    height: 320px;
    width: 320px;
  }

  .third-container {
    padding: 7rem 1rem;
    flex-direction: column;
  }

  .third-section {
    width: 100%;
  }

  .third-section h1 {
    font-size: 25px;
  }

  .third-mini-section {
    column-gap: 10px;
  }

  .third-section-image {
    width: 100%;
  }

  .third-section-image-bg,
  .fourth-section {
    transform: translateY(0);
    transform: translateX(-2rem);
  }

  .third-section-image img {
    height: 420px;
    width: 100%;
    left: 0;
    top: 80px;
  }

  .fourth-container {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 15rem 1rem 5rem 1rem;
  }

  .fourth-section-bg {
    position: relative;
    width: 100%;
  }

  .fourth-section {
    height: 220px;
    width: 60%;
    transform: translateY(0);
    transform: translateX(-1rem);
  }

  .fourth-section-image {
    left: 0;
    transform: translateY(2rem);
  }

  .img-grid-1 {
    height: 280px;
    position: absolute;
    left: 0;
  }

  .double-grid {
    flex-direction: column;
    transform: translateX(0);
    position: absolute;
    right: 0;
  }

  .img-grid-2 {
    height: 100px;
    width: 60%;
  }

  .img-grid-3 {
    height: 220px;
  }

  .fourth-section-text {
    width: 100%;
    transform: translateY(40%);
  }

  .fourth-section-text-header h1 {
    font-size: 25px;
  }

  .fourth-mini-section-list {
    grid-template-columns: repeat(2, 40%);
    padding: 0 1rem;
    justify-content: space-between;
  }

  .fifth-container {
    padding: 15rem 1rem 7rem 1rem;
    flex-direction: column;
  }

  .mini-chairs {
    padding-bottom: 2rem;
  }

  .mini-chairs-bg {
    flex-direction: column;
  }

  .sixth-container h1 {
    font-size: 25px;
  }

  .swiper {
    width: 100%;

    .swiper-slide {
      padding: 3rem 1rem;
    }

    --swiper-scrollbar-bg-color: var(--white);
    --swiper-scrollbar-drag-bg-color: var(--white);
  }

  .swiper {
    .swiper-button-prev {
      display: none;
    }
  }

  .swiper {
    .swiper-button-next {
      display: none;
    }
  }

  .seventh-container {
    padding: 5rem 1rem 0 1rem;
  }

  .seventh-container-text {
    flex-direction: column;
    align-items: start;
  }

  .seventh-container-text h1 {
    font-size: 25px;
    padding-bottom: 1rem;
  }

  .seventh-container-body {
    grid-template-columns: repeat(1, 100%);
  }

  footer {
    background: var(--white);
    width: 100%;
    padding: 3rem 1rem;
  }

  .subscribe-container {
    flex-direction: column-reverse;
  }

  .subscribe-container-info {
    width: 100%;
  }

  .form {
    margin-top: 1rem;
    width: 100%;
  }

  .form-info {
    grid-template-columns: 70% 20%;
    gap: 15px;
  }

  .nameAndEmail {
    grid-template-columns: repeat(1, 100%);
    gap: 10px;
  }

  .submit-div {
    align-self: end;
  }

  .sofa-bg {
    width: 100%;
  }

  .sofa {
    height: 370px;
    width: 100%;
    transform: translateY(15%);
  }

  .footer-section {
    transform: translateY(0);
    padding-top: 2rem;
  }

  .footer-info {
    grid-template-columns: repeat(1, 100%);
  }

  .socials {
    padding-bottom: 4rem;
  }

  .footer-lists-bg {
    flex-direction: column;
    width: 100%;
  }

  .footer-lists {
    gap: 80px;
    padding-bottom: 1rem;
  }

  .footer-lists li {
    padding: 0.5rem 0;
  }
}

@media (min-width: 768px) and (max-width: 884px) {
  nav {
    padding: 2rem 2rem 0 2rem;
  }

  .nav-list {
    gap: 20px;
  }

  .container {
    flex-direction: column;
    padding: 4rem 0 17rem 0;
    align-items: end;
  }

  .intro-section {
    padding: 0 2rem 5rem 2rem;
    width: 100%;
  }

  .couch {
    right: 2rem;
    top: 0;
  }

  .second-container {
    padding: 8rem 2rem 5rem 2rem;
    flex-direction: column;
  }

  .second-section {
    width: 100%;
    padding-bottom: 5rem;
  }

  .chair-collection {
    display: grid;
    grid-template-columns: repeat(3, 260px);
  }

  .product {
    flex-direction: column;
  }

  .product:hover::before {
    width: 220px;
  }

  .third-container {
    padding: 10rem 2rem;
    flex-direction: column;
  }

  .third-section {
    width: 100%;
  }

  .third-mini-section {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 30px;
  }

  .third-section-image {
    width: 100%;
  }

  .third-section-image-bg {
    transform: translate(-20px, 0);
  }

  .third-section-image img {
    width: 100%;
    left: 0;
    height: 700px;
  }

  .fourth-container {
    flex-direction: column;
    padding: 18rem 2rem 5rem 2rem;
  }

  .fourth-section-bg {
    width: 100%;
    padding-top: 10rem;
  }

  .fourth-section {
    width: 35%;
    transform: translateY(0);
    transform: translateX(-2rem);
  }

  .fourth-section-image {
    left: 0;
    top: 50%;
  }

  .img-grid-1 {
    width: 500px;
  }

  .fourth-section-text {
    width: 100%;
    padding-top: 30rem;
  }

  .fourth-mini-section-list {
    padding: 0 1rem;
    grid-template-columns: repeat(2, 50%);
    gap: 0;
  }

  .fifth-container {
    width: 100%;
    padding: 5rem 2rem 13rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-between;
    column-gap: 0;
    row-gap: 60px;
  }

  .swiper {
    width: 95%;

    .swiper-slide {
      padding: 3rem 2rem;
    }
  }

  .seventh-container {
    padding: 5rem 2rem 10rem 2rem;
  }

  .seventh-container-body {
    grid-template-columns: repeat(3, 30%);
  }

  footer {
    background: var(--white);
    width: 100%;
    padding: 3rem 2rem 0 2rem;
  }

  .subscribe-container {
    flex-direction: column-reverse;
  }

  .subscribe-container-info {
    width: 100%;
    transform: translateY(-30%);
  }

  .subscribe-container-header {
    display: flex;
    gap: 10px;
    padding-top: 0;
  }

  .form {
    margin-top: 1rem;
    width: 100%;
    padding-bottom: 8rem;
  }

  .sofa-bg {
    width: 60%;
  }

  .sofa {
    width: 100%;
    transform: translate(70%, -140px);
  }

  .footer-section {
    transform: translateY(-120px);
  }

  .footer-info {
    grid-template-columns: repeat(1, 100%);
  }

  .footer-lists-bg {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
  }

  .footer-lists {
    width: 45%;
    display: flex;
    justify-content: space-between;
  }
}
